@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 31, 53, 98;
  --tertiary-rgb: 55, 75, 94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 31, 32, 32;
    --background-end-rgb: 0, 0, 0;
    background: rgb(var(--background-start-rgb));
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:not(:focus-visible) {
  /* Styles for when the input is not focused */
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
